

<footer class="bg-blue rounded-lg shadow m-4 w-full py-5 xl:w-[1120px] mx-auto mb-10">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#top" class="hover:underline me-4 md:me-6">inicio</a>
                </li>
              
                <li>
                    <a href="mailto:criptamas@gmail.com" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Realizado por <a rel=" noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/criptamas/" class="hover:underline">Juan Rojas</a> con amor y pasion </span>
    </div>
</footer>

