---
import ImgSobreMi from "./ImgSobreMi.astro"
---


<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Juan Miguel Gimenez Rojas, soy de Venezuela, Edo Falcon <strong
        >Comence en la programacion cuando tenia 19 años leyendo un libro de JAVA y uno del dinosaurio lenguaje C...</strong
      >
    </p>

    <p>
      He formado parte de proyectos personales y colaborativos. <strong
        >Participe en el desarrollo de la tienda en linea </strong
      > de la empresa para la cual trabajaba, me dedique al diseño y desarrollo de la pagina desde  cero hasta desplegarla.
    </p>

    <p>
     Soy Desarrollador Web <strong
        >con solidos conocimientos en <em class="italic"> lenguajes de programacion como Javascript, ReactJS, Astro y Python</em></strong
      >. Estoy a la altura de cualquier desafio para crear productos de alto impacto. 
    </p>
  </div>
 <ImgSobreMi/>
</article>